<ol class="post-list">
    {{#each posts as |p|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="{{p.post_url}}" target="_blank">{{p.title}}</a>
        <span>({{p.post_url}})</span>
      </div>
      <div class="meta">
        {{p.vote_count}} point(s) by {{p.user.username}} on
        {{p.created_at}}
        |
        <a href="/post/{{p.id}}">{{p.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>